# Python
venv/
__pycache__/
*.pyc

# Django
db.sqlite3
*.sqlite3

# Env
.env
.env.local
.env.prod

# Node
node_modules/
frontend/node_modules/

# Build
dist/
frontend/dist/
build/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# OS / misc
*.swp